# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# pytest
.pytest_cache/

# build artifacts
build/
dist/
*.egg-info/

# local environments
.venv/
env/

# local outputs
runs/

# macOS
.DS_Store

.virtual_documents/
*.pyc
Eigenmode LC_generator_V3p4.ipynb

*.tgz
*.diff
__pycache__/
.ipynb_checkpoints/
*.ipynb
